/* Add styles for title */
.title {
  background-color: #f44336;
  padding: 10px;
  color: white;
  text-align: center;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center items horizontally */
}

/* Add styles for the todo lists */
.todo-list {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Adjust styles for the header */
.todo-list .header {
  background-color: #f44336;
  padding: 10px;
  color: white;
  text-align: center;
}

/* Adjust styles for input fields */
.todo-list input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}

/* Adjust styles for the add and delete buttons */
.todo-list .addBtn, .todo-list .deleteBtn, .todo-list .editListBtn {
  display: inline-block; /* Ensure the span behaves like a block element */
  padding: 10px;
  background: #d9d9d9;
  color: #555;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
  margin-left: 5px;
  line-height: 0; /* Ensure the line height is 0 */
}

.todo-list .deleteBtn img, .todo-list .editListBtn img{
  vertical-align: middle; /* Vertically center the image */
}

.todo-list .addBtn img {
  vertical-align: middle; /* Vertically center the image */
}

/* Adjust styles for the add list button */
.add-list-container {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
}

.addBtn {
  margin-left: 10px; /* Adjust margin as needed */
}

/* Adjust styles for task list */
.todo-list ul.taskList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style the list items */
.todo-list ul.taskList li {
  cursor: pointer;
  position: relative;
  padding: 15px;
  background: #eee;
  font-size: 16px;
  transition: 0.2s;
}

/* Set all odd list items to a different color (zebra-stripes) */
.todo-list ul.taskList li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.todo-list ul.taskList li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.todo-list ul.taskList li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Adjust styles for the task buttons */
.editBtn,
.deleteBtnTask {
  float: right; /* Align to the right */
  cursor: pointer;
  padding: 5px;
}

.editBtn img,
.deleteBtnTask img {
  width: 20px;
  height: 20px;
}

.deleteBtnTask {
  cursor: pointer;
  padding: 5px;
}